[Unit]
Description=Daemon that backups and logs users.

[Service]
Type=forking
ExecStart=/usr/bin/main
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
